<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".cer" mimeType="application/x-x509-ca-cert" />
        </staticContent>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
