@page
@model Udap.Auth.Server.Pages.Index

<div class="welcome-page">
    <h1>
        Welcome to UDAP Auth Server.  <br />A Plugin for <br />
        <img src="~/duende-logo.svg" class="logo">
        Duende IdentityServer
        <small class="text-muted">(version @Model.Version)</small>
    </h1>

    <ul>
        <li>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
        <li>
            UDAP Server publishes a
            <a href="~/.well-known/udap">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
        <li>
            Click <a href="~/diagnostics">here</a> to see the claims for your current session.
        </li>
        <li>
            Click <a href="~/grants">here</a> to manage your stored grants.
        </li>
        <li>
            Click <a href="~/serversidesessions">here</a> to view the server side sessions.
        </li>
        @* <li> *@
        @*     Click <a href="~/ciba/all">here</a> to view your pending CIBA login requests. *@
        @* </li> *@
        <li>
            Here are links to the
            <a href="https://github.com/udap-tools/udap-dotnet">source code repository</a>,
            and <a href="https://github.com/udap-tools/udap-dotnet/tree/main/examples">ready to use examples</a>.
        </li>
    </ul>
</div>
