@page
@model Udap.UI.Pages.UdapTieredLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Challenge</title>
</head>
<body>
<div>
    Failed to process Tiered OAuth request.
    Ensure the udap scope and idp parameter are included.
</div>
</body>
</html>