.gcloudignore
.git
.gitignore
bin\**
obj\**
.vs\**
app.yaml
README.md
launchSettings.json
appsettings.Development.json
appsettings.Production.json
fhirLabsApiClientLocalhostCert.pfx
fhirLabsApiClientLocalhostCert*.pfx
weatherApiClientLocalhostCert*.pfx