name: Develop GPR

on:
  push:
    branches: [ "develop" ]

env:
  REPOSITORY_URL: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          6.0.x
          7.0.x  
        source-url: ${{ env.REPOSITORY_URL }}
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Generate PKI
      run: dotnet test -c Release  _tests/Udap.PKI.Generator/Udap.PKI.Generator.csproj 
    - name: Build and Restore dependencies
      run: dotnet build -c Release Udap.sln 
    - name: Test Udap.Common.Tests
      run: dotnet test -c Release  _tests/Udap.Common.Tests/Udap.Common.Tests.csproj --no-build --verbosity normal
    - name: Test UdapMetadata.Tests
      run: dotnet test -c Release  _tests/UdapMetadata.Tests/UdapMetadata.Tests.csproj --no-build --verbosity normal
    - name: Test UdapServer.Tests
      run: dotnet test -c Release _tests/UdapServer.Tests/UdapServer.Tests.csproj --no-build --verbosity normal
    
